# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# celery
celerybeat-schedule
celerybeat-schedule.*

staticfiles/

production_data.json
production_data_clean.json
production_data_no_users.json
production_data_ready.json